[Unit]
Description=Alliance Reunited ShareX Backend.

[Service]
Type=simple
WorkingDirectory=/usr/share/sharex
ExecStart=/usr/bin/yarn dev

[Install]
WantedBy=multi-user.target
