[Unit]
Description=Alliance Reunited ShareX Backend.

[Service]
Type=simple
WorkingDirectory=/opt/ShareX
ExecStart=/usr/bin/yarn dev

[Install]
WantedBy=multi-user.target
